*{
	padding: 0;
	margin: 0 auto;
	border: 0;
	outline: inherit;
	
}


@font-face{
	font-family: roboto;
    src: url(roboto.ttf);
}
p{
	font-family: roboto;
}

@font-face{
	font-family: abel;
	src: url(abel.tff);
}


h1{
	font-family: abel;
}

h2{
	font-family: abel;
}
body{
	
}
.lienzo{
	width: 200%;
	height: 100vh;
	background: white;
	display: flex;
}
.logo{
	margin-top: 5px;
	margin-left: 300px;
	width: 700px;
	height: 700px;
}
.cont{
	flex-basis: 50%;
	float: left;
	height: 100vh;
	width: 100%;
}

.uno{

}


.medida{
	flex-basis: 50%;
}
.x{
	z-index: 1000;
	position: absolute;
	top: 10px;
	right: 10px;

}
.realidad{
	display: none;
	position: absolute;
	z-index: 999;
	width: 720px;
    height: 322px;
	background: white;
	left: 0px;
	right: 0;
	top: 100px;
	text-align: center;
	transition: 1s linear;
	opacity: 0;	
	box-shadow: 2px 2px 5px #999;
}
.imagen{
	width: 308px;
    height: 280px;
    background: white;
    margin: 30px;
}
.ico{
	color: black;
	font-size: 2em;
	z-index: 1;
	position: absolute;
	top: 20px;
	left: 25px;
	float: left;
}



.pasar{
    position: fixed;
    right: 20px;
    bottom: 10px;
    color: #000080;
    font-size: 4em;
    z-index: 999;  
    cursor: pointer; 
}
.devolber{
	position: fixed;
    left: 20px;
    bottom: 10px;
    font-size: 3em;
    z-index: 999; 
    display: flex;
    cursor: pointer;
}

.dos{
	position: relative;
	display: flex;
	flex-direction: column;
}

.btns{
	display: flex;
	justify-content: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 70px;
}
.btns div{
	margin: 0 60px;
	width: 30px;
	height: 30px;
	background: white;
	z-index: 1;
	border-radius: 100%;
	transition: 0.2s linear;
}

.btns div:hover{
	background: #25CCF7;
}
.btn_sec2{
	font-size: 2em; 
	position: absolute;
	left: 100px;
	bottom: 30px;
}
.btn_sec2 i{
	color: black;
	margin: 60px 20px;
	transition: 0.1s linear;
	background: #f5f6fa;
    padding: 10px;
    border-radius: 100%;
}
.btn_sec2 i:hover{
	color: #1B9CFC;
}
/*Texto*/

.textDos{
	padding: 50px 10px;
	width: 366px;
	height: 383px;
	position: absolute;
	top: 80px;
	right: 132px;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
	color: #2f3640; 
	font-size: 18px; 
	font-weight: 400;  
	background: #f5f6fa;
	text-align: center; 
	margin: 0 0 25px; 
	overflow: hidden; 
	padding: 20px; 
	border-radius: 35px 0px 35px 0px;
	opacity: 0;
	z-index: 999;
	transition: 0.3s linear;
}

.textDos p{
	font-size: 12px;

}

.textTres{
	padding: 50px 10px;
	width: 366px;
	height: 383px;
	position: absolute;
	top: 80px;
	right: 132px;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
	color: #2f3640; 
	font-size: 18px; 
	font-weight: 400;  
	background: #f5f6fa;
	text-align: center; 
	margin: 0 0 25px; 
	overflow: hidden; 
	padding: 20px; 
	border-radius: 35px 0px 35px 0px;
	opacity: 0;
	z-index: 999;
	transition: 0.3s linear;
}

.textTres p{
	font-size: 12px;

}

.textCuatro{
	padding: 50px 10px;
	width: 366px;
	height: 383px;
	position: absolute;
	top: 80px;
	right: 132px;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
	color: #2f3640; 
	font-size: 18px; 
	font-weight: 400;  
	background: #f5f6fa;
	text-align: center; 
	margin: 0 0 25px; 
	overflow: hidden; 
	padding: 20px; 
	border-radius: 35px 0px 35px 0px;
	opacity: 0;
	z-index: 999;
	transition: 0.3s linear;
}

.textCuatro p{
	font-size: 12px;

}

.textCinco{
	padding: 50px 10px;
	width: 366px;
	height: 383px;
	position: absolute;
	top: 80px;
	right: 132px;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
	color: #2f3640; 
	font-size: 18px; 
	font-weight: 400;  
	background: #f5f6fa;
	text-align: center; 
	margin: 0 0 25px; 
	overflow: hidden; 
	padding: 20px; 
	border-radius: 35px 0px 35px 0px;
	opacity: 0;
	z-index: 999;
	transition: 0.3s linear;
}

.textCinco p{
	font-size: 12px;

}

.textSeis{
	padding: 50px 10px;
	width: 366px;
	height: 383px;
	position: absolute;
	top: 80px;
	right: 132px;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
	color: #2f3640; 
	font-size: 18px; 
	font-weight: 400;  
	background: #f5f6fa;
	text-align: center; 
	margin: 0 0 25px; 
	overflow: hidden; 
	padding: 20px; 
	border-radius: 35px 0px 35px 0px;
	opacity: 0;
	z-index: 999;
	transition: 0.3s linear;
}

.textSeis p{
	font-size: 12px;

}
.x{
	float: right;
	cursor: pointer;
}


p {
    margin-top: 20px;
    margin-bottom: 1rem;
}


.iconki{
    position: absolute;
    right: 0px;
 	margin: 20px;
    bottom: 270px;
    z-index: 999;  
    cursor: pointer; 
}

#vide video{
	z-index: 999;
	position: absolute;
	width: 571px;
	height: 428px;
	right: 0;
	left: 0;
	top: 70px;
	text-align: center;
	box-shadow: 2px 2px 5px #999; 
}


/*.fondo1{
	z-index: 999;
	position: absolute;
	left: 0px;
	right: 0;
	top: 0px;
	text-align: center;
	box-shadow: 2px 2px 5px #999; 
}*/


/*.fondo2 video{
	width: 104%;
	height: 800px;
}*/
/*
.fondo3 video{
	width: 100%;
	height: 800px;
}*/
#vider video{
	z-index: 999;
	position: absolute;
	width: 571px;
	height: 428px;
	left: 0;
	right: 0;
	top: 70px;
	text-align: center;
	box-shadow: 2px 2px 5px #999; 
}
.viderr video{
	z-index: 999;
	position: absolute;
	width: 571px;
	height: 428px;
	left: 0;
	right: 0;
	top: 70px;
	box-shadow: 2px 2px 5px #999; 
}
.cerrarVideo{
	position: absolute;
	z-index: 1000;
	top: 77px;
	right: 410px;
	color: white;
	font-size: 20px;
	cursor: pointer;
}
#videro video{
	z-index: 999;
	position: absolute;
	width: 571px;
	height: 428px;
	left: 0;
	right: 0;
	top: 70px;
	text-align: center;
	box-shadow: 2px 2px 5px #999; 
}
.videoSec5{
	z-index: 999;
	position: absolute;
	width: 600px;
	height: 340px;
	left: 0px;
	right: 0;
	top: 100px;
	text-align: center;
	box-shadow: 2px 2px 5px #999; 
}
.btn-jugar{
	position: absolute;
	left: 300px;
	bottom: 100px;

}
.btn-jugar img{
	width: 100px;
}
.descarga{
	cursor: pointer; 
	position: absolute;
}

.btns{
	display: flex;
	justify-content: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 70px;
}
.btns div{
	margin: 0 60px;
	width: 30px;
	height: 30px;
	background: white;
	z-index: 1;
	border-radius: 100%;
	transition: 0.2s linear;
}

.btns div:hover{
	background: #25CCF7;
}
.btn_sec2{
	font-size: 2em; 
	position: absolute;
	left: 100px;
	bottom: 30px;
}
.btn_sec2 i{
	color: black;
	margin: 60px 20px;
	transition: 0.1s linear;
	background: #f5f6fa;
    padding: 10px;
    border-radius: 100%;
}
.btn_sec2 i:hover{
	color: #1B9CFC;
}
.btn_sec3{
	font-size: 1em; 
	position: absolute;
	left: 100px;
	bottom: 30px;
}
.btn_sec3 i{
	color: black;
    margin: 3px 8px;
    transition: 0.1s linear;
    background: #f5f6fa;
    padding: 8px;
    border-radius: 100%;
    font-size: 2.5em;
}
.btn_sec3 i:hover{
	color: #1B9CFC;
}
.titulo{
	font-size: 2em;
	text-align: center;
	color: #00c8ab;
}
.mes{
	text-align: center;
	color: #00c8ab;
	margin-bottom: 10px;
}

.menu{
	display: none;
}
.fecha{
	position: absolute;
	top: 0;
	display: none;
}


.sec1{
	width: 100%;

}

.menu-slider{
	position: absolute;
	right: 0;
	left: 0;
	bottom: 20px;
	display: flex;
	padding: 0 500px;
	z-index: 10;
}

.menu-slider li{
	width: 30px;
	height: 10px;
	background: white;
	list-style: none;
	border-radius: 10px;
	cursor: pointer;
}

.vid video{
	width: 100%;
	height: 128vh;
}
.videoFinal video{
	width: 100%;
	height: 100vh;
}


.active{
	transform: scale(1.4);
}
.circulo{
	position: relative;
}
.cuadro{
    position: absolute;
    bottom: 10px;
    left: -2px;
    font-size: 15px;
    color: black;
}





